@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('font/MonoSocialIconsFont-1.10.eot');
  src: url('font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('font/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('font/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #fef5f3;
  text-decoration: none;
}

a:hover {
  color: #19b5fe;
}

body {
  background-color: #1f1f1f;
  color: #fef5f3;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 200px;
  text-align: center;
}

#links {
  font-size: 1.75em;
  margin: 20px 0;
}

#name {
  font-size: 3.75em;
}

.symbol {
  font-size: 2.5em;
  margin: 0 12px;
  position: relative;
}


.symbol {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.symbol:hover {
    -webkit-transform:scale(1.35); /* Safari and Chrome */
    -moz-transform:scale(1.35); /* Firefox */
    -ms-transform:scale(1.35); /* IE 9 */
    -o-transform:scale(1.35); /* Opera */
     transform:scale(1.35);
}

.symbol, a.symbol:before {
  content: attr(title);
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}